.card-col .card {
    background-color: #F2E9E4;
}

.card-col a {
    color: #22223B;
    text-decoration: none;
}

.card .card-title {
    background-color: #4A4E69;
    color: rgba(255,255,255,.65);
    border-radius: 3px;
    padding: 3px;
}

.card .card-text {
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}