.card-col .card {
    background-color: #F2E9E4;
}

.card-col a {
    color: #22223B;
    text-decoration: none;
}

.card .card-title {
    background-color: #4A4E69;
    color: #C9ADA7;
    border-radius: 3px;
    padding: 3px;
}

.card .card-text {
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    /* height: 50px; */
}