#profile h1 {
    text-align: center;
}

#profile p {
    text-align: center;
}

#profile div {
    text-align: center;
}

#profile .card {
    background-color: var(--quinary);
}

#profile .card-title {
    color: rgba(255,255,255,.65);
}

#profile .btn {
    min-width: 70px;
}