#profile {
    text-align: center;
}

#profile {
    background-color: var(--quinary);
    margin: 30px;
    max-height: 400px;
    min-height: 250px;
    max-width: 300px;
    min-width: 250px;
}

#profile .card-body {
    padding: 0;
    margin: 10px;
}

#profile img {
    align-self: center;
    margin: 10px;
}

#profile .card-title {
    color: rgba(255,255,255,.65);
}

#profile .btn {
    min-width: 70px;
}