#profile {
    text-align: center;
}

#profile-col{
    background-color: var(--quinary);
    max-height: 400px;
    min-height: 250px;
    min-width: 300px;
    max-width: 300px;
    margin: 30px;
}

#profile-col .row {
    height: 100%;
}