#listing-area {
  padding-top: 20px;
}

#category-nav {
  background-color: var(--quarternary);
  color: aliceblue;
  padding: 10px;
  margin: 10px;
}

#all-categories {
  color: var(--quinary);
}

#category-nav .nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

#category-nav li {
  align-self: flex-start;
}

#responsive-categories .navbar-nav {
  padding: 0;
  max-width: 600px;
}

#listings {
  padding: 30px;
}

#listings .card-col {
  max-width: 250px;
  max-height: 250px;
  margin: 10px;
}

#listings .card {
  border-radius: 20px;
}

#listings .card-body {
  min-width: 200px;
  height: 200px;
}

#but-row a {
  max-width: 70px;
}
