.listing-content {
    padding-top: 20px;
}

.category-nav {
    background-color: var(--quarternary);
    color: aliceblue;
    padding: 10px;
    margin: 10px;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.category-nav li{
    align-self: flex-start;
}

.card-row {
    padding: 30px;
}

.card-row .card-col {
    max-width: 250px;
    max-height: 250px;
    margin: 10px;
}

.card-col .card-body{
    min-width: 200px;
    height: 200px;
}